@import "tailwindcss";
@plugin './hero.ts';
@plugin "@tailwindcss/typography";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
  --heroui-primary: 4 100% 59%;

  /* Lighter Shades */
  --heroui-primary-50: 4 100% 96%;
  --heroui-primary-100: 4 100% 90%;
  --heroui-primary-200: 4 100% 80%;
  --heroui-primary-300: 4 100% 70%;
  --heroui-primary-400: 4 100% 65%;

  /* Base */
  --heroui-primary-500: 4 100% 59%;

  /* Darker Shades */
  --heroui-primary-600: 4 100% 52%;
  --heroui-primary-700: 4 100% 45%;
  --heroui-primary-800: 4 100% 38%;
  --heroui-primary-900: 4 100% 30%;
}
